<h1>Listing members</h1>

<div class="section">
  <h2 id="team">Team</h2>
  <p>The GreenCape team is committed to ensuring the green economy flourishes in the Western Cape</p>

<% @members.each do |member| %>

<td class="list_description">
    <dl>
      <dt><%= member.first_name%> <%= member.last_name%></dt>
	  <dt><%= member.position%>: <%= member.description%></dt>
    </dl>
</td>

<tr>
  <td><%= link_to 'Show', member %></td>
  <td><%= link_to 'Edit', edit_member_path(member) %></td>
  <td><%= link_to 'Destroy', member, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>


<br />

<%= link_to 'New Member', new_member_path %>

</div>